/*********************
* Color
*********************/
.bg-color--keycolor {
  background-color: #696969;
}
.bg-color--subcolor {
  background-color: #DAA520;
}
.bg-color--gray {
  background-color: #708090;
}
